.user-assign-container{
    margin: 20px 0;
}

.user-assign-container>form{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px 0;
}

.user-assign-container>form>h3{
    text-align: center;
    color: #9cc2c0;
}

.user-assign-container>p{
    text-align: center;
    color: #9cc2c0;
}

.form-assign-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-assign-container>h2{
    text-align: center;
    color: #9cc2c0;
}

.user-assign-role{
    text-align: center;
    padding-top: 10px;
}

.user-assign-role>select{
    padding: 3px;
}

.user-assign-submit{
    text-align: center;
    margin: 10px;
}

.user-assign-submit>button{
    margin: 5px;
    padding: 7px 40px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #2F4550;
    color: #B8DBD9;
    box-shadow: 2px 2px 2px #586F7C;
    transition-duration: 0.4s;
}

.user-assign-submit>button:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: #586F7C;
}

.users-container>h2{
    text-align: center;
    color: #9cc2c0;
}