.user-Container{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #586F7C;
    margin: 20px;
    padding: 20px;
}

.user-Container:hover{
    transform: scale(1.01);
}

.user-Container>h4{
    text-align: center;
    color: #9cc2c0;
}

.user-organizations-container{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.user-organizations-container>div>h4{
    color: #9cc2c0;
}

.user-organizations-container>div>ul{
    color: #9cc2c0;
}