.credentials-container{
    display: flex;
    background-color: #586F7C;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #B8DBD9;
    margin: 20px 5px 0 5px;
    padding: 12px;
}

.credentials-container:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.credentials-wrapper{
    color: #F4F4F9;
}