.add-form-container{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #586F7C;
    margin: 5px;
    color: #9cc2c0;
    padding: 20px;
    width: 100%;
}

.add-form-container>h4{
    margin: 0;
    text-align: center;
}

.new-credentials-form{
    text-align: center;
}

.new-credentials-form>input{
    margin: 5px 0 10px 0;
    padding: 5px;
}

.new-credentials-form>select{
    margin: 5px 0 10px 0;
    padding: 5px;
}

.new-credentials-form>select:hover{
    cursor: pointer;
}

.new-credentials-form>button{
    margin: 5px;
    padding: 7px 40px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #2F4550;
    color: #B8DBD9;
    box-shadow: 2px 2px 2px #586F7C;
    transition-duration: 0.4s;
}

.new-credentials-form>button:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: #586F7C;
}